/* 下層 */
.bottombar_left,
.bottombar_mid,
.bottombar_right{
	width:28vw !important;
	height: 47%;
	
	position: relative;
	top: 15vh;
	left:9vw;
	
	display: flex;
	align-items: center;
	
	margin-bottom: 2vh;
	justify-content: left;
}

/* 文字 */
.word_cash,
.word_bank,
.word_card{
	font-family: BungeeInline;
	font-size: 45px;
	
	display: flex;	
}

/* icon */
.icon_cash,
.icon_bank,
.icon_card{
	position: relative;
	margin-bottom: 10px;

	border-width: 0;

	background-color: rgb(255, 255, 128, 0);

	font-size: 50px;
	
	margin-right: 35px;
}

.cash_wrapper,
.mid_wrapper,
.card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    
    position: relative;
}

.cash_wrapper{
	left: 10vw;
}

.mid_wrapper{
	left: 18vw;
}

.card_wrapper{
	left: 32vw;
}

.mid_outer,
.top_outer,
.bottom_outer{
	display: block;
}

.word{
	font-family: BungeeInline;
	font-size: 38px;
}

.show{
	font-family: BungeeInline;
	color: white;
	font-size: 44px;
	
	display: flex;
	justify-content: center;
	
	width:10vw;
}

.mid_income{
	color: #23f566;
}

.mid_income,
.card_expense{
	position: relative;
	top: 5vh;
}

.cash_expense,
.mid_expense,
.card_expense{
	color: #fb2f2fe8;
}

.cash_income_show,
.cash_expense_show{
	position: relative;
	top: 12vh;
}

.mid_income_show,
.mid_expense_show{
	position: relative;
	top: 22vh;
}

.card_expense_show{
	position: relative;
	top: 31vh;
}