/* chart 上層 */
.chart_topbar {
	position: relative;
	width: auto;
	height: 10%;

	margin-top: 15px;
	padding-top: 40px;
	padding-bottom: 40px;

	display: flex;
	align-items: center;
}

.chart_topbar_left {
	position: relative;
}

/* icon */
.icon_switch,
.icon_up,
.icon_down,
.icon_pie,
.icon_bar {
	position: relative;
	margin-bottom: 10px;

	border-width: 0;

	background-color: rgb(255, 255, 128, 0);

	font-size: 50px;

	display: flex;
	justify-content: center;
}

.highlightedbar{
	background-color: rgb(255, 255, 128, 0);
	color: white;
}

.icon_switch {
	margin-left: 90px;
}

.icon_switch:hover,
.icon_up:hover,
.icon_down:hover,
.icon_pie:hover,
.icon_bar:hover {
	color: white;
}

.chart_topbar_right {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 170px;
}

.chart_topbar_right2 {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 90%;
	margin-left: 4%;
	margin-right: 2%;
}

.year {
	height: 65px;
	width: 140px;
	border-radius: 300px;

	font-family: BungeeInline;
	font-size: 35px;
	color: white;

	background-color: #814818;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: 2px solid rgb(0, 0, 0);

	margin-left: 1%;
	margin-right: 1%;

	display: flex;
	align-items: center;
	justify-content: center;

}

.icon_down {
	margin-right: 20px;
}

.month {
	height: 65px;
	width: 65px;
	border-radius: 50%;

	font-family: BungeeInline;
	font-size: 35px;
	color: white;

	background-color: #814818;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: 2px solid rgb(0, 0, 0);
	
	cursor: pointer;
}

.month:hover,
.highlighted{
	color: black;
	background: white;
	transform: scale(1.05);
}

.pieChart,
.barChart{
	height: 450px !important;
    width: auto !important	;
}

.date {
	font-family: BungeeInline;
	font-size: 25px;
}

.date_left {
	margin-right: 90px;
}

.date_right {
	margin-left: 20px;
}

/* chart 下層 */
.bottombar_left{
	width: 100%;
	
	position: relative;
	top: 50px;
	
	display: flex;
	justify-content: center;
}

.chart_bottombar{
	display: flex;
}

.pieChart,
.barChart{
	position: relative;
	top: 50px;
}

.icon_pie{
	position: absolute;
	left: 250px;
}

.icon_bar{
	position: absolute;
	right: 250px;
}