@charset "BIG5";

* {
	font-family: 微軟正黑體;
}

body {
	background-image: url(./picture/orange1.jpg);
	background-repeat: repeat;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

form {
	background-color: #fff;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 500px;
	height: auto;
}

h4 {
	color: #df5334;
}

.icon_home{
	padding-top: 5px;
    padding-right: 8px;
	font-size: 25px;
	float: left;	
}

.icon_lock,.icon_unlock{
	padding: 5px 5px 0 3px ;
	font-size: 25px;
	float: left;	
}

.username,.password,.password_confirm{
	padding-bottom:25px ;
	width: 100%;
	display: inline-block;	
}

.username_block,.password_block,.password_unblock{
	display: inline-block;
	width: 90%;
}

.btn {
	background-color: #df5334;
	color: white;
}

.btn_left {
	margin-right: 20px;
}

.btn_right {
	position: relative;
	margin-left: 20px;
}